.Scripts {
    float: right;
    border-radius: 5px;
  }
  
  .CheckboxScripts {
    display: flex;
    vertical-align: middle;
    position: relative;
    color: var(--w)
  }

.script-table-head {
    padding: 50px;
    border-radius: 10px;
    background: linear-gradient(145deg, #333333, #2b2b2b);
    box-shadow: 5px 5px 10px #2a2a2a, -5px -5px 10px #363636;
  }
  
  .script-table-body {
    margin-top: 1vh;
  }