:root {
  --w: #fcfaf9;
  --r: #79031d;
  --o: #ee6123;
  --b: #010814;
  --g: #303030;
}

@font-face {
  font-family: "Text";
  src: url("../fonts/ethnocentric-rg.ttf") format("truetype");
}

@font-face {
  font-family: "ethno";
  src: url("../fonts/conthrax-sb.ttf") format("truetype");
}

body {
  background: #0c0c0c;
}

.el-table {
  width: fit-content;
  color: var(--g);
  background-color: var(--g);
  background: var(--g);
}

.el-main {
  background-color: var(--g);
  width: 95vw;
}

.list-card {
  border-color: transparent;
  border-radius: 21px;
  background: var(--g);
  box-shadow: 5px 5px 12px #181818, -5px -5px 12px #484848;
  font-family: "ethno";
  float: right;
  display: flex;
  justify-content: left;
  color: var(--w);
  width: fit-content;
  height: fit-content;
}

.background {
  border-radius: 30px;
  background: var(--g);
  box-shadow: 7px 7px 14px #1a1a1a, -7px -7px 14px #464646;
  display: flex;
  justify-content: center;
  background-color: var(--g);
  border-top: 0vh;
  height: max-content;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.-table-head {
  padding: 50px;
  border-radius: 10px;
  background: linear-gradient(145deg, rgb(161, 28, 28), #2b2b2b);
  box-shadow: 5px 5px 10px #2a2a2a, -5px -5px 10px #363636;
}

.take {
  color: black;
}