[Unit]
Description=Your app
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/solidanim/MocapMaster/server.js
Restart=always
User=pi
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/solidanim/MocapMaster

[Install]
WantedBy=multi-user.target
